*{box-sizing: border-box;
margin: 0;
padding: 0;
}
body{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}
nav{
    grid-column: 1 / -1 ;
}
nav ul{
    
    display: grid;
    grid-template-columns: 1fr repeat(5, 150px) 1fr; 
    list-style: none;
}
nav a{ padding: .5rem   1rem;
display: grid;
text-decoration: none;
text-align: center;
}
nav a:hover{ background: darkred;
color: aliceblue;}