body{background-color: darkred;}
header{border:lightcyan dashed;}
main{border: solid;}
footer{border:aqua dotted;}
h1{color: honeydew;}
#ensayo{font-size: 20px
    ;font-weight: bold;}
    .h{color: black;}